
# Ignore node_modules directory (if applicable)
node_modules

# Ignore logs
logs
*.log

# Ignore compiled files and build artifacts
*.o
*.pyc
*.pyo
*.pyd

# Ignore directories
dist/
build/

# Ignore dotenv files with environment variables 2 directories back
../.env

# Ignore git directory
.git

# Ignore temporary files
tmp/
*.swp
*.bak

# Ignore any editor-specific files
.vscode/
.idea/
